body {
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;

}
h1,h2,h3,h4 {
    margin: 0;


}

.header{
    background-color: dimgrey ;
    color: white;
    height: 5vh;
}
.hero {
    background-color: cadetblue;
    height: 70vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}   

.hero>h1 {
    position: absolute;
    left: 10vw;
    top: 30vh;
    color: white;
    font-size: 3vw;
}

.hero>h2 {
    position: absolute;
    left: 10vw;
    top: 40vh;
    color: teal;
    font-size: 2vw;
    font-weight: 300;
}
.frame{
    width: 80vw;
    margin: auto auto;

}
.rand{
    border:black 2px;
    background-color: lightblue;
}

footer{
    background-color:dimgray;
    color:white;
}

.flex{ display:flex;
}

.padding1{padding: 3vw;

}

.bkgr_color1 {background-color: lightblue;}
.bkgr_color2 {background-color: blue;}
.bkgr_color3 {background-color: cadetblue;}
.bkgr_color4 {background-color: darkslategray;}
