/* Allgemein */

body {
    background-color:white;
    font-family: 'Arial, Helvetica', sans-serif;
    color: white;
    margin: 0;

}

.bkgr_color1 {background-color: lightblue;}
.bkgr_color2 {background-color: blue;}
.bkgr_color3 {background-color: cadetblue;}
.bkgr_color4 {background-color: darkslategray;}

/*Schrift*/

h5 {
    margin: 0;
    font-size: 2.5vw;
}

h1,h2,h3,h4 {
    margin: 10;
    font-size: 1.5vw;
}

/*Buttons*/

button {
    background-color: cadetblue;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
    font-size: 1vw;
    border: none;  
}

/* Titelbild*/ 
  
.hero {
    background-color: cadetblue;
    height: 70vh;
    background-image: url(fotos/Forelle_nackig1.JPG);
    background-size: cover;
    background-position: center center;
    position: relative;
}   

.hero>h1 {
    position: absolute;
    left: 32vw;
    top: 1vh;
    color: white;
    background-color:cadetblue;
    font-size: 4vw;
}

.hero>h2 {
    position: absolute;
    left: 48vw;
    top: 13vh;
    color:white;
    background-color: darkslategray;
    font-size: 2vw;
    font-weight: 300;
}

.hero>h3{
    position: absolute;
    left: 48vw;
    top: 17vh;
    color:white;
    background-color: darkslategray;
    font-size: 2vw;
    font-weight: 300;
}

/*Navigationsleiste*/

.container {
    width: 90%;
    margin: 0 auto

}

.navbar {
    width: 100%;
    overflow: hidden;
    height: 60px;
    line-height: 70px;
    background-color: darkslategray;
    border-bottom: 2px solid white;
}

.logo {
    width: 60px;
    float: left;
}

.menu {
    float: right;

}
.menu li {
    float: left;
    width: 140px;
    height: 70px;
    line-height: 40px;
    text-align: center;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
}

.menu li:hover {
    background-color: cadetblue;
}


/*Body*/

.flex {
    display: flex;
    justify-content: space-between;
}

.padding1{padding: 3vw;

}

.frame{
    width: 100vw;
    margin: auto auto;
    height: 15vw;

}

.frame2 {
    width: 100vw;
    margin: auto auto; 


}

.shadow {
    -webkit-box-shadow: 0 5px 4px 4px #c4c4c4;
    box-shadow: 0 5px 4px 4px #c4c4c4;
}

.textcenter { 
text-align: center;

}

/*Seite Rezepte*/

.frame3 {
    width: 80vw;
    margin: auto auto;
    height: 30vw;
   
}

.left {
    width: 33%;
    height: 35vw;
    float: left;
    margin: 0 0.1%;

}

aside {
    width: 100%;
    height:30vw;
    text-align: center;
    float: left;
   
    
}

.profil2 {
    width: 90%;
    height: 20vw;
    display: flex;
    justify-content: center; 
        align-items: center;

}

.frame4 {
    width: 100%;
    height: 3vw;
}

.frame5 {
    width: 100%;
    height: 40vw;
}

.zentriert {
    display: flex;
  align-items: center;
  justify-content: center;
    
    
}

.frame6 {
    width: 100%;
    height: 1vw;

}


/*Kontakt*/

.profil1 {
    border-radius: 10vw;
    width: 15vw;

}

/* Footer */

footer{
    background-color: rgb(177, 169, 169);
    width: 100%;
    height:100px;
    color: white;
    text-align: center;
    font-size: 14px;
    float: left;

}

footer #footer_menu {
    margin: 70px;

}
